@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-display: swap;
  }

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main{
    padding: 20px;
}

button {
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    box-shadow: 0px 2.5px 7px 0px rgba(0, 0, 0, 0.35);
}

button:disabled {
    background-color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-add {
    background-color: #28a745;
    color: #fff;
}

.btn-add:hover {
    background-color: #1e7e34;
    color: #fff;
}

.btn-edit {
    background-color: #469bf7;
    color: #fff;
}

.btn-edit:hover {
    background-color: #0069d9;
    color: #fff;
}

.btn-danger {
    background-color: #db4c5a;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    color: #fff;    
} 

input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

input[type="text"]:focus {
    border: none;
    outline: none;
    background-color: #e4e3e3;
}

input[type="text"]:hover {
    border: none;
    background-color: #bbbbbb;
}

input[type="text"]:disabled {
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #4b4b4b;
}

input[type="date"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

input[type="date"]:focus {
    border: none;
    outline: none;
    background-color: #e4e3e3;
}

input[type="date"]:hover {
    border: none;
    background-color: #bbbbbb;
}

input[type="date"]:disabled {
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #4b4b4b;
}

.error-message {
    background-color: #f5bdc3;
    color: #db4c5a;
    font-size: 12px;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    text-align: center;
    padding: 10px;
}